/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	margin-left: 4%;
	margin-right: 4%;
	width: 92%;
}

.col-1-2 {
	background-color: blue;
	width: 15%;
}

.col-2 {
	background-color: red;
	width: 40%;
}

.col-1-4 {
	background-color: pink;
	width: 18%;
}

.col-3 {
	background-color: yellow;
	width: 60%;
}

.col-1 {
	background-color: green;
	width: 92%
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

}